<%= form_for(@blog_post) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :post_content %><br>
    <%= f.text_field :post_content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
